language: python
dist: xenial
jobs:
  include:
    name: "Python 3.8.0 on Windows"
    os: windows
    language: shell
    python: "3.8"
    addons:
      chrome: stable
    before_install:
      - choco install python --version 3.8.0
      - python -m pip install --upgrade pip
      - choco install googlechrome --version=91.0.4472.114 --ignore-checksums
    env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
install:
  - pip install selenium==3.141.0
  - pip install robotframework==4.0.1
  - pip install robotframework-seleniumlibrary==5.1.3
branches:
  only: master
  
before_script:
  - wget https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
  - unzip chromedriver_win32.zip -d C:/python38/Scripts/
  - mkdir chromedriver
  - unzip chromedriver_win32.zip -d chromedriver/
  - export PATH=$PATH:$PWD/chromedriver
script:
- "robot TestCases/test_1_give_last_name_check.robot"