language: python
dist: xenial
jobs:
  include:
    name: "Python 3.8.0 on Windows"
    os: windows
    language: shell
    python: "3.8"
    before_install:
      - choco install python --version 3.8.0
      - python -m pip install --upgrade pip
    env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
install:
  - pip install selenium==3.141.0
  - pip install robotframework==4.0.1
  - pip install robotframework-seleniumlibrary==5.1.3
branches:
  only: master
  
before_script:
  - wget https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
  - unzip chromedriver_win32.zip -d c:/python38/Scripts/
script:
- "robot TestCase/*.robot"