os: windows
language: sh
python:
  - "3.6"
addons:
  chrome: stable
before_install:
  - choco install python3
  - export PATH="/c/Python38:/c/Python38/Scripts:$PATH"
  - python -m pip install --upgrade pip wheel
install:
  - pip install selenium==3.141.0
  - pip install robotframework==4.0.1
  - pip install robotframework-seleniumlibrary==5.1.3
branches:
  only: master
  
before_script:
  - wget https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
  - unzip chromedriver_win32.zip -d /home/travis/virtualenv/Scripts/
script:
- "robot TestCase/*.robot"